.row_card-title {
  margin-left: var(--left-margin);
  margin-bottom: 10px;
}

.row_cards-first,
.row_cards-sceond,
.row_cards-third {
  display: flex;
  justify-content: left;
  align-items: center;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  margin: 0px 4px;
}

.row_card {
  margin-right: 5px;
}

.row_cards-first img {
  width: 233px;
  width: 100%;
  height: 134px;
  border-radius: 6px;
}

.row_card-title {
  font-size: 16px;
}

.row_cards {
  display: flex;
  justify-content: left;
  align-items: center;
}

.row_cards::-webkit-scrollbar {
  overflow: hidden;
}

.row_cards_set {
  margin-bottom: 40px;
}
