.row_cards_button {
  height: 250px;
  width: 80%;
  position: relative;
}

.row_cards_button .switchLeft,
.row_cards_button .switchRight {
  color: white;
  font-weight: bold;
  height: 100%;
  width: 45px;
  line-height: 250px;
  font-size: 25px;
  text-align: center;
  background-color: green;
  opacity: 0.5;
  font-family: sans-serif;
  top: 0;
  z-index: 3;
}

.row_cards_button .switchLeft {
  position: absolute;
  left: -50px;
}

.row_cards_button .switchRight {
  position: absolute;
  left: -50px;
}
