aside {
  margin: 0px auto;
  width: 100%;
  height: 800px;
}

.first-row {
  bottom: 200px;
  position: absolute;
}

.nav-title {
  display: flex;
  justify-content: space-between;
  margin-right: var(--left-margin);
}

.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.chatnumber {
  width: 35px;
  height: 7px;
  background-color: white;
  margin-left: 8px;
}

.row {
  position: relative;
  width: 100%;
  height: auto;
}

.row h2 {
  margin-left: var(--left-margin);
  font-size: 2.5em;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
}

.nav {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  padding: 5px 0px;
  scroll-behavior: smooth;
}

.prev,
.next {
  position: absolute;
  top: 22.5%;

  transform: translateY(-30%);
  font-size: 3.5em;
  background-color: #0009;
  color: white;
  padding: 110px 45px;
  cursor: pointer;
}

.next {
  right: 0;
}

.nav .nav-bar {
  display: flex;
  position: relative;
  left: -340px;
}

.nav-bar .column {
  min-width: 15%;
  height: 100%;
  transition: 0.3s linear;
  cursor: pointer;
}

.column:nth-child(n + 2) {
  margin-left: 10px;
}

.column img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 2%;
}

.active {
  transform: scale(1.1);
  border: 1px solid #fff;
}

.column:hover {
  z-index: 3;
  transform: scaleX(1.5) scaleY(2);
}

.pre-colum img {
  filter: brightness(40%);
}

.next-colum img {
  filter: brightness(40%);
}

.not-pre img {
  display: none;
}
