@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat&display=swap");
@import "top-bar.css";
@import "row-cards-set.css";
@import "variables.css";
@import "row-cards-button.css";
@import "container.css";
@import "row.css";

body {
  font-family: "Audiowide", cursive;
  font-family: "Montserrat", sans-serif;
  height: 1000vh;
  background-color: black;
  color: white;
}
